In [5]:
#Criei um método só para importar as classes e retornar se foi feito corretamente
import pandas as pd
print("Tudo Certo")

Tudo Certo

In [7]:
#Um dos primeiros métodos é o de leitura dos arquivos (CSV)
#Nessa situação ele de fato apenas nos mostra o que tem dentro do arquivo csv
pd.read_csv("./introducao-a-data-science-aula0/aula0/ml-latest-small/ratings.csv")

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [8]:
#Para podermos trabalhar com esses dados, devemos transformalo é um Objeto - Dataframe
notas = pd.read_csv("./introducao-a-data-science-aula0/aula0/ml-latest-small/ratings.csv")

In [9]:
#O csv está armazenado na variável notas como um objeto do pandas - Dataframe
print(type(notas))

<class 'pandas.core.frame.DataFrame'>

In [10]:
#Por estar armazenado posso acessá-lo a qualquer momento, veja
notas

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [11]:
#Vemo no final do conteúdo acima que exintem 100836 linhas (Usuários que avaliaram)
# e 4 colunas(Id de quem avaliou, qual filme foi avaliado, a nota d filme e quando ele foi avaliado)
#Uma forma mais rápida seris mostrando apenas os primeiros valores,vamos fazer isso
notas.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [12]:
#Veja que notas é uma classe (Dataframe), que possui vários métodos, um deles o head()
#Verificar a documentação do Pandas no que tange a classe Dataframe, é uma boa saida

In [13]:
#Um dos outros métodos do Dataframe é o columns, que muda o conteúdo das colunas, vamos fazer isso
notas.columns = ["usuarioId","filmeId","nota_filme","data_avaliacao"]

In [14]:
#Supostamente mudamos o conteúdo presente na coluna para as strings de nosso desejo
#Vamos conferir
notas.head()

   usuarioId  filmeId  nota_filme  data_avaliacao
0          1        1         4.0       964982703
1          1        3         4.0       964981247
2          1        6         4.0       964982224
3          1       47         5.0       964983815
4          1       50         5.0       964982931

In [15]:
#Se toda a tabela é chamada de objeto Dataframe, uma única coluna também teria seu próprio sentido
#A coluna de elementos dentro de um dataframe é chamado de Series

In [19]:
#Posso acessar diretamente
print(type(notas["nota_filme"])) # Veja que é um Objeto prórprio chamado Series

<class 'pandas.core.series.Series'>

In [20]:
#Como também posso armazená-lo sozinho em uma única variável
nota_filme = notas["nota_filme"]
nota_filme

0         4.0
1         4.0
2         4.0
3         5.0
4         5.0
         ...
100831    4.0
100832    5.0
100833    5.0
100834    5.0
100835    3.0
Name: nota_filme, Length: 100836, dtype: float64

In [21]:
#A classe Series do pandas possui diversos métodos, assim como o Dataframe
#Um dos métodos é verificar valores únicos por exemplo
notas["nota_filme"].unique()

array([4. , 5. , 3. , 2. , 1. , 4.5, 3.5, 2.5, 0.5, 1.5])

In [24]:
#Outro método é contar quantos desses valores(Notas) se repetem por exemplo
notas["nota_filme"].value_counts()

4.0    26818
3.0    20047
5.0    13211
3.5    13136
4.5     8551
2.0     7551
2.5     5550
1.0     2811
1.5     1791
0.5     1370
Name: nota_filme, dtype: int64

In [26]:
#Podemos também tirar a média dos valores desse Serie(nota_filme)
notas["nota_filme"].mean()

3.501556983616962